.ReactFreeSelect__Component {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
  cursor: default;
}

.ReactFreeSelect__Disabled * {
  cursor: not-allowed !important;
}

.ReactFreeSelect__Component svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  touch-action: none;
}

.ReactFreeSelect__Component polygon {
  pointer-events: none;
  transform: translate(-1px, -1px);
}

.ReactFreeSelect__Component rect {
  cursor: move;
}

.ReactFreeSelect__Closed polyline {
  cursor: move;
}
